@use "sass:math";

$np-height: 125px;
$up-height: 75px;
$icon-ar: math.div(4,3);

.nowplaying {
    display: flex;
    justify-content: center;
    height: $np-height;
    max-height: $np-height;
}

.nowplaying .songicon {
    height: 100%;
    flex-shrink: 1;
    width: auto;
}

.songicon-overlay {
    background-color: black;
    height: 100%;
    opacity: 0;

    transition: .2s ease;

    &:hover {
        opacity: 50%;
    }
}

.songoverflow {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.fullheight {
    height: 100vh;
}

.songlist {
    height: 100%;
    overflow-y: auto;
}

.tabview {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.controlicon {
    cursor: pointer;

    & {
        will-change: filter;
        transition: .2s ease-out;
    }

    &:hover {
        filter: drop-shadow(0 0 5px #fff);
    }
}

.errornotif {
    opacity: 90%;
    position: fixed !important;
    z-index: 9999999;
    bottom: 10px;
    right: 10px;
}

// I have no idea why this fixed a width overflow.
html {
    height: 100vh;
}

.is-text-shadowed {
    text-shadow: 0 0 5px black;
}

.is-text-shadowless {
    text-shadow: none !important;
}

.queuedicon {
    position: absolute;
    display: flex; // Needed for some reason so the div doesn't get an extra ~4.5px height
    bottom: 0.25rem;
    right: 0.25rem;
    filter: drop-shadow(0 0 5px black);
}

.toasttray {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    margin-right: 1.5rem;

    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 9999;
}

.toast {
    opacity: 90%;

    transition: opacity 0.25s linear;

    &.toastclosing {
        opacity: 0%;
    };
}

.background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    height: 100vh;
    width: 100vw;
    z-index: -3;
}

.background-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    filter: blur(100px) brightness(30%) saturate(3);
}

.old-background-image {
    opacity: 0%;
    transition: opacity 2000ms ease-in-out;
    z-index: -2;
}

.background-noise {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    position: fixed;
    background-repeat: repeat;
    background-image: url("/static/background_noise.png");
    z-index: -1;

    opacity: 30%;
}

.logintray {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.songrow:hover .bumpicon, .songrow:active .bumpicon {
    opacity: 80%;
}


.bumpicon {
    opacity: 0%;
    cursor: pointer;

    &:hover, &:active {
        filter: drop-shadow(0 0 5px #fff);
        transition: filter 200ms ease;
    }

    transition: opacity 200ms ease;
}

.is-spinning {
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}