@use "sass:math";

$np-height: 125px;
$up-height: 75px;
$icon-ar: math.div(4,3);

.nowplaying {
    display: flex;
    justify-content: center;
    height: $np-height;
    max-height: $np-height;
}

.nowplaying .songicon {
    height: 100%;
    flex-shrink: 1;
    width: auto;
}

.songicon-overlay {
    background-color: black;
    height: 100%;
    opacity: 0;

    transition: .2s ease;

    &:hover {
        opacity: 50%;
    }
}

.songoverflow {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.fullheight {
    height: 100vh;
}

.songlist {
    height: 100%;
    overflow-y: auto;
}

.tabview {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.controlicon {
    cursor: pointer;

    & {
        will-change: filter;
        transition: .2s ease-out;
    }

    &:hover {
        filter: drop-shadow(0 0 5px #fff);
    }
}

.errornotif {
    opacity: 90%;
    position: fixed !important;
    z-index: 9999999;
    bottom: 10px;
    right: 10px;
}

// I have no idea why this fixed a width overflow.
html {
    height: 100vh;

    // TODO: Consider putting this somewhere more targeted
    text-shadow: 0 0 5px black;
}

.queuedicon {
    position: absolute;
    display: flex; // Needed for some reason so the div doesn't get an extra ~4.5px height
    bottom: 0.25rem;
    right: 0.25rem;
    filter: drop-shadow(0 0 5px black);
}

.toasttray {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    margin-right: 1.5rem;

    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 9999;
}

.toast {
    opacity: 90%;

    transition: opacity 0.25s linear;

    &.toastclosing {
        opacity: 0%;
    };
}

.background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    height: 100vh;
    width: 100vw;
    z-index: -2;
}

.background-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    filter: blur(100px) brightness(30%) saturate(3);
}

.old-background-image {
    opacity: 0%;
    transition: opacity 500ms ease;
    z-index: -1;
}